.user-list {
  margin-top: 120px;
  max-height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-width: 350px;
  overflow: auto;
  background-color: var(--white);
  &.dark {
    background-color: var(--black);
    color: var(--white);
  }
}
