@import "../../styles//variables";

.switch {
  position: relative;
  width: 96px;
  height: 34px;
  align-self: center;
  display: flex;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 28px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  input:focus + span {
    .slider {
      box-shadow: 0 0 1px #2196f3;
    }
  }
  input:checked + span {
    .slider:before {
      transform: translateX(62px);
    }
  }
  .slider {
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
  .slider.round .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .off-text,
  .on-text {
    position: absolute;
    align-self: center;
    color: white;
  }

  .off-text {
    right: 16px;
  }
  .on-text {
    left: 16px;
  }

  input[type="checkbox"] {
    & + span {
      display: flex;
      .off-text {
        display: flex;
      }
      .on-text {
        display: none;
      }
    }
    &:checked {
      & + span {
        .slider {
          background-color: var(--app-primary-color);
        }
        .on-text {
          display: flex;
        }
        .off-text {
          display: none;
        }
      }
    }
  }
}
